<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <h2 class="h2">Matrículas</h2>
    <button mat-button color="btn-primary" (click)="this.abrirForm()">Adicionar Matrícula</button>
  </div>

  <div *ngIf="!visualizarForm" class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Cód.</th>
          <th scope="col">Curso</th>
          <th scope="col">Aluno</th>
          <th class="text-right"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let matricula of matriculas; let i = index">

          <td>{{matricula.codigo}}</td>
          <td>{{matricula.nome_aluno}}</td>
          <td>{{matricula.descricao_curso}}</td>
          <td class="text-right">
            <button mat-button class="btn-primary mr-1" (click)="this.abrirFormUpdate(matricula)">Editar</button>
            <button mat-button class="btn-danger" (click)="this.delete(matricula.codigo)">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="visualizarForm" class="row justify-content-center mt-5">
    <div class="col-md-4">
      <form [formGroup]="matriculaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Curso</mat-label>
            <mat-select [formGroup]="matriculaForm" formControlName="codigo_curso">
              <mat-option *ngFor="let course of courses" [value]="course.codigo">
                {{course.descricao}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Aluno</mat-label>
            <mat-select [formGroup]="matriculaForm" formControlName="codigo_aluno">
              <mat-option *ngFor="let user of users" [value]="user.codigo">
                {{user.nome}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group d-flex justify-content-around">
          <button mat-button class="btn-secondary" (click)="this.visualizarForm = false">Cancelar</button>
          <button mat-button class="btn-primary" type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>

</div>