<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <h2 class="h2">MATRÍCULAS</h2>
    <button mat-button style="background-color: var(--primary); color: white;" (click)="this.abrirForm()">Adicionar
      Matrícula</button>
  </div>

  <div *ngIf="!visualizarForm" class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Cód.</th>
          <th scope="col">Curso</th>
          <th scope="col">Aluno</th>
          <th class="text-right"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let matricula of matriculas; let i = index">

          <td>{{matricula.codigo}}</td>
          <td>{{matricula.nome_aluno}}</td>
          <td>{{matricula.descricao_curso}}</td>
          <td class="text-right">
            <button mat-stroked-button class="mr-1" style="color: var(--primary);"
              (click)="this.abrirFormUpdate(matricula)">Editar</button>
            <button mat-button style="background-color: var(--primary); color: white;"
              (click)="this.delete(matricula.codigo)">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="visualizarForm" class="row justify-content-center mt-5">
    <div class="col-md-4">
      <form [formGroup]="matriculaForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Curso</mat-label>
            <mat-select [formGroup]="matriculaForm" formControlName="codigo_curso">
              <mat-option *ngFor="let course of courses" [value]="course.codigo">
                {{course.descricao}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Aluno</mat-label>
            <mat-select [formGroup]="matriculaForm" formControlName="codigo_aluno">
              <mat-option *ngFor="let user of users" [value]="user.codigo">
                {{user.nome}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group d-flex justify-content-around">
          <button mat-stroked-button style="color: var(--primary);"
            (click)="this.fecharForm()">Cancelar</button>
          <button mat-button style="background-color: var(--primary); color: white;" class="btn-primary"
            type="submit"  [disabled]="!matriculaForm.valid">Salvar</button>
        </div>
      </form>
    </div>
  </div>

</div>